<%- include('./layouts/head.ejs') %>
</head>

<body>
    <%- include('./layouts/navigation.ejs') %>
    <h1>Some error occurred!</h1>
    <h3>We're working on fixing this, sorry for the inconvenience!</h3>

<%- include('./layouts/end.ejs') %> 