<h2>Hello!</h2>
<h4>Please click link below to reset your password.</h4>
<p><a href= "http://<%= host %>/auth/resetPassword/<%= resetToken %>/edit">Reset Password</a></p>
<p>If you did not create an account, no further action is required.</p>
</br>
<p>Regards,</p>
<p>Our Team</p>