<h2>Hello!</h2>
<h4>Please click the button below to verify your email address.</h4>

<p>Verify Email Address</p>
<p>If you did not create an account, no further action is required.</p>
</br>
<p>Regards,</p>
<p>Our Team</p>